version: 2.1

jobs:
  build:
    docker:
      - image: "debian:latest"
    steps:
      - checkout
      - run:
          name: Installing SUDO
          command: 'apt-get update && apt-get install -y sudo && rm -rf /var/lib/apt/lists/*'
      - run:
          name: Installing Build Tools
          command: 'sudo apt-get update && apt-get install -y git gcc-9 g++-9 wget pkg-config build-essential cmake python3'
      - run:
          name: Upgrade
          command: 'sudo apt-get upgrade -y'
      - run:
          name: Install CppuTest
          command: 'bash scripts/install_cpputest.sh'
      - run:
          name: Dir Setup
          command: 'mkdir build && mkdir build-release && mkdir build-asan'
      - run:
          name: Debug Build
          command: 'cd build && cmake ../sauros -DCMAKE_BUILD_TYPE=Debug && make -j5'
      - run:
          name: Release Build
          command: 'cd build-release && cmake ../sauros -DCMAKE_BUILD_TYPE=Release && make -j5'
      - run:
          name: ASAN Build
          command: 'cd build-asan && cmake ../sauros -DCMAKE_BUILD_TYPE=Release -DWITH_ASAN=ON && make -j5'
      - run:
          name: Execution Tests
          command: 'cd test_scripts && python3 run.py ../build/sauros'